#homeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
    /* gap: 25%; */
    margin-top: 5%;
}
  
.homeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10%; */
    padding-top: 3%;
    padding-bottom: 6%;
    margin-bottom: 5%;
    color: #EFEDE7;
    
}

/* .box:hover {
    animation: none;
}


.box:after, .box:before {
    transition: none;
} */

.homeColumns 
{
    display: flex;
    flex-direction: column;
    max-width: 45%;
}


/* 

Circular progress bar made with the help from https://www.youtube.com/watch?v=H2HYccAGR00&t=508s

*/
/* @keyframes progressFill 
{
    100% 
    {
        stroke-dashoffset: 90;
    }
} */



circle 
{
    fill: none;
    stroke: url(#progressBarColour);
    stroke-width: 36px;
    stroke-dasharray: 571;
    stroke-dashoffset: 571;
    animation: progressFill 2s forwards;
    
}

#calories, #caloriesNumber
{
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: larger;
    color: #EFEDE7;
}

#dailyCalorieTracker 
{
    font-family: 'Poppins';
    margin-top: 1%;
    padding-top: 0;
    white-space: nowrap;
}

#calorieRow 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2em auto;
}
  
#progressWrapper 
{
    position: relative;
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    margin-right: 10%;
}
  
#progressWrapper svg 
{
    position: absolute;
    top: 2.7%;
    left: 2.5%;
    pointer-events: none;
}
  
#calorieRow2 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins';
    color: #EFEDE7;
    text-align: center;
    text-wrap: none;
    white-space: nowrap;
    text-shadow: 2px 2px 4px #000000;
    font-size: larger;
    margin-left: 40px;
}
  
#calorieTargetBox 
{
    padding-left: 40%;
    padding-right: 40%;
    margin-right: 600px;
    padding-bottom: 0;
}
  
.outerCircle 
{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 20px;
    border: 6px; 
    border-style: solid; 
    border-color: #BABABA;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4),
    -8px -8px 16px rgba(255, 255, 255, 0.075);
  }
  
.innerCircle 
{
    width: 140px;
    height: 140px;
    background-color: #1C1F21;
    border: 3px solid #BABABA;
    border-radius: 50%;
    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.4),
    inset -6px -6px 12px rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#activityTargetBox, #groupChallengeBox 
{
    max-width: 40%;
    width: 40%;
}

#progressTitleHome, #groupsTitleHome, #helpTitleHome
{
    font-size: 30px;
}

#progressBox 
{
    padding-top: 0;
    padding-bottom: 2%;
    justify-content: center;
    align-items: center;
}

#trackProgressButton, #groupsButton, #helpButton 
{
    padding: 4%;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

#groupsButton 
{
    padding: 7%;
}

#helpButton 
{
    padding: 9%;
}

#helpBox 
{
    margin-bottom: 15%;
}

#activityTargetBox, #groupChallengeBox 
{
    width: auto;
    max-width: 80%;
    flex-grow: 1;
}

#goalMainSection, #challengeMainSection 
{
    text-shadow: 2px 2px 4px #000000;
    font-size: larger;
    font-family: 'Poppins';
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

#goalSectioning1, #challengeSectioning1
{
    margin-left: -6%;
}

#goalSectioning2, #challengeSectioning2 
{
    margin-left: 12%;
}


/* @keyframes linearProgressFill1 
{
    100% 
    {
        width: 80%;
    }
} */

/* @keyframes linearProgressFill2 
{
    100% 
    {
        width: 80%;
    }
} */

#goalProgressBar, #groupProgressBar 
{
    height: 3vh;
    width: 80%;
    background: #ddd;
    border-radius: 25px;
    border: 6px solid #BABABA;
    overflow: hidden;
    position: relative;
    /* margin-top: auto; */
    margin-bottom: 3%; 
    box-shadow: inset 0 0 10px #222;
}


.progress, .progress2
{
    height: 100%;
    border-radius: 25px;
    transition: width 0.3s ease-in-out;
    width: 0%;
}

.groupProgressColor 
{ 
    background: linear-gradient(to right, #007AFF, #1DE44F); 
    box-shadow:
        0 0 10px white,
        0 0 20px white,
        0 0 30px #1DE44F,
        0 0 40px #1DE44F;
        background-image: 
        url("images/noise.png"),
        linear-gradient(to right, #007AFF, #1DE44F);
        background-blend-mode: hard-light;
        background-repeat: repeat;
        background-size: cover;
        
}

.goalProgressColor 
{ 
    background: linear-gradient(to right, #FF8C00, #FFD700); 
    box-shadow:
        0 0 10px #FF8C00,
        0 0 20px #FF8C00,
        0 0 30px #FFD700,
        0 0 40px #FFD700;
        background-image: 
        url("images/noise.png"),
        linear-gradient(to right, #FF8C00, #FFD700);
        background-blend-mode: hard-light;
        background-repeat: repeat;
        background-size: cover;
        
}

.goalProgressColor::before 
{
    content: "";
    position: absolute;
    border-radius: 25px;
    background: linear-gradient(to right, #FF8C00, #FFD700);
    filter: blur(12px);
    opacity: 0.6;
    z-index: -1;
}

#challengeTitleSectioning 
{
    display: flex;
    flex-direction: row;
    margin-bottom: -5%;
}

#challengeTitle, #challengeTitleRemaining 
{
    font-family: 'Poppins';
    white-space: nowrap;
}

#groupChallengeBox 
{
    margin-bottom: 15%;
}

#challengeTitle 
{
    margin-left: -3%;
}

#challengeTitleRemaining 
{
    margin-left: 5%;
}

h2, h3, h4 
{
    font-family: 'Poppins';
}

.popupGoals 
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #383F42;
    padding-bottom: 2%;
    box-shadow: 0px 0px 10px rgba(255, 145, 0, 0.993);
    text-align: center;
    border-radius: 30px 60px;
    width: 50%;
    height: 60%;
    color: white;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 1.1cqw, 4rem);
    overflow: auto;
    justify-content: space-between;
}

.popup-overlay2 
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 999;
}

/* #expiredGoal
{
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border-color: #EFEDE7;

} */

.expiredGoal2 
{
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #EFEDE7;
    background-color: rgba(56, 63, 66, 0.8);
    flex-grow: 1;
    overflow-y: auto;
    max-height: 60vh;
}

.popupGoals::-webkit-scrollbar 
{
    display: none;
    /* Firefox users */
    scrollbar-width: none;
}

#expiredCloseButton 
{
    margin-top: 2.5%;
}

/* Mobile */
@media only screen and (max-width: 767px) {
   
    #homeSection 
    {
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
        width: 100%;
        padding: 0 10px;
    }

    #dailyCalorieTracker 
    {
        margin-bottom: 0;
        margin-top: 2%;
    }
    
    .homeColumns 
    {
        max-width: 100%;
        width: 100%;
    }
    
    .homeBox 
    {
        width: 75%;
        margin: 2% auto 5% 55px;
    }
    
    .top-header h1 
    {
        font-size: 1.5rem;
    }
    
    #calorieTargetBox 
    {
        padding: 2%;
        margin-right: 0;
    }
    
    #calorieRow 
    {
        flex-direction: column;
        margin: 1em auto;
    }
    
    #progressWrapper 
    {
        margin-right: 0;
        margin-bottom: 2%;
        transform: scale(0.9);
    }
    
    #calorieRow2 
    {
        margin-left: 0;
        font-size: medium;
    }
    
    #calorieRow2 h3 
    {
        font-size: 1rem;
        margin-bottom: 0;
    }
    
    #calorieRow2 h4 
    {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 5%;
    }
    
    #activityTargetBox, #groupChallengeBox 
    {
        /* max-width: 75%; */
        width: 75%;
    }
    
    #goalMainSection, #challengeMainSection 
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    #goalSectioning1, #goalSectioning2,
    #challengeSectioning1, #challengeSectioning2 
    {
        margin-left: 0;
        margin-bottom: 5%;
        margin-left: 22px;
    }
    
    #goalMainSection h3, #challengeMainSection h3 
    {
        font-size: 0.9rem;
        margin-bottom: 15%;
    }


    #groupChallengeBox, #activityTargetBox 
    {
        padding-right: 3.7%;
    }

    #groupChallengeBox 
    {
        margin-bottom: 5%;
    }
    
    #goalMainSection h4, #challengeMainSection h4 
    {
        font-size: 1.2rem;
        margin: 5px 0;
    }
    
    .goalUnit, .challengeUnit 
    {
        font-size: 0.9rem;
    }
    
    #goalProgressBar, #groupProgressBar 
    {
        width: 90%;
        height: 2.5vh;
        margin-left: 17px;
    }
    
    
    #challengeTitleSectioning 
    {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    
    #challengeTitle, #challengeTitleRemaining 
    {
        font-size: 1.1rem;
        margin: 5px 0;
        text-align: center;
        margin-left: 20px;
    }
    
    #progressBox, #groupBox, #helpBox 
    {
        text-align: center;
        padding: 20px 10px;
    }
    
    #progressTitleHome, #groupsTitleHome, #helpTitleHome 
    {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    .welcomeText 
    {
        font-size: 1.15rem;
        margin-bottom: 15px;
        padding: 0 5px;
    }
    
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #homeSection 
    {
        flex-direction: column;
        align-items: center;
    }
    
    .homeColumns 
    {
        max-width: 80%;
        width: 80%;
    }
    
    #calorieRow 
    {
        flex-direction: row;
    }

    #calorieTargetBox 
    {
        max-width: 100%;
        width: 19.45%;
    }
    
    #progressWrapper 
    {
        margin-right: 5%;
    }
    
    #calorieRow2 
    {
        margin-left: 60%;
    }
    
    #activityTargetBox, #groupChallengeBox 
    {
        max-width: 100%;
        width: 99.45%;
    }
    
    #goalMainSection, #challengeMainSection 
    {
        flex-direction: row;
    }
    
    #goalSectioning1, #challengeSectioning1 
    {
        margin-left: -3%;
    }
    
    
    /* #goalSectioning2, #challengeSectioning2 
    {
        margin-left: -3%;
    }

    #calorieRow2, #goalSectioning2, #challengeSectioning2 
    {
        margin-left: 30%;
    } */

    #challengeTitle 
    {
        margin-bottom: 10%;
    }
    
    #challengeTitleSectioning 
    {
        flex-direction: row;
    }

    #groupChallengeBox 
    {
        margin-bottom: 5%;
    }

}

/* Small Desktop Adjustments */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .homeColumns 
    {
        max-width: 45%;
    }

    #goalMainSection, #challengeMainSection, #calorieRow, #calorieRow2
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    
    /* #calorieTargetBox 
    {
        padding-left: 20%;
        padding-right: 20%;
        margin-right: 300px;
    } */
    
    #progressWrapper 
    {
        margin-right: 8px;
    }
    
    #goalSectioning1, #challengeSectioning1, #goalSectioning2, #challengeSectioning2, #calorieRow2  
    {
        margin-left: -3%;
    }

    #calorieRow2 
    {
        margin-top: 20px;
    }

    #challengeTitle, #challengeTitleRemaining 
    {
        text-align: center;
        margin-bottom: -4%;
        margin-left: -3%;
    }

    #challengeTitleRemaining 
    {
        margin-bottom: 3%;
    }

    #challengeTitleSectioning 
    {
        flex-direction: column;
        align-items: center;
        /* margin-bottom: 10px; */
    }
    
    /* #goalSectioning2, #challengeSectioning2 
    {
        margin-left: 6%;
    } */
}



