#homeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 25%;
    margin-top: 5%;
}
  
.homeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    padding-bottom: 6%;
    margin-bottom: 5%;
    color: #EFEDE7;
    
}

/* .box:hover {
    animation: none;
}


.box:after, .box:before {
    transition: none;
} */

.homeColumns 
{
    display: flex;
    flex-direction: column;
    
}


/* 

Circular progress bar made with the help from https://www.youtube.com/watch?v=H2HYccAGR00&t=508s

*/

@keyframes progressFill 
{
    100% {
        stroke-dashoffset: 90;
    }
}


circle 
{
    fill: none;
    stroke: url(#progressBarColour);
    stroke-width: 36px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: progressFill 2s forwards;
    
}

svg {
    position: absolute;
    top: 15.4%;
    left: 22%;
}

.outerCircle 
{
 height: 180px;
 width: 180px;
 border-width: 2px;
 padding: 20px;
 border-radius: 50%;
 box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4),
 -8px -8px 16px rgba(255, 255, 255, 0.075);
 border-color: #BABABA;
 border-style: solid;
 border-width: 6px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.innerCircle
{
    height: 140px;
    width: 140px;
    border-width: 2px;
    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.4),
    inset -6px -6px 12px rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    background-color: #1C1F21;
    border-color: #BABABA;
    border-style: solid;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calorieTargetBox {
    padding-left: 5em;
    padding-right: 5em;
}

#calories, #caloriesNumber
{
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: larger;
    color: #EFEDE7;
}

