/* Generics */

html, body {
    background-color: #1C1F21;
    text-align: center;
    height: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
    margin: 0; 
}

p{
    color: white;
}
h1 {
    color: #EFEDE7;
    font-family: 'Oswald';
    text-shadow: 2px 2px 4px #000000;
}
  
h2 {
    color: #EFEDE7;
    font-family: 'Oswald';
    text-shadow: 2px 2px 4px #000000;
}
  
h5 {
    color: #EFEDE7;
    font-family: 'Oswald';
    text-shadow: 2px 2px 4px #000000;
}
input {
    background-color: #EFEDE7;
    border-width: 3px;
    border-color: #B0B0B0;
    border-style: solid;
    /* box-shadow: 5px 5px; */
    backdrop-filter: blur(10px);
}




/* nav bar stuff */
.navbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;  
    height: 10vh;
    display: flex;
    justify-content: space-around;  
    align-items: center;          
    border-width: 2px;
    border-radius: 40px;
    border-style: solid;
    background-image: linear-gradient(180deg, #95180F, #CE6B31 90%);
    padding: 0;
    text-align: center;
    color: white;
    font-size: 4vw;
    max-width: 100%;
    min-width: 320px;
}

.nav-btn {
    background: transparent;
    border: none;
    width: 12%;
    height: 70%;
    font-size: 3rem;  
    font-weight: bold;
    max-width: fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center; 
    border-radius: 30px;
    border-color: #EFEDE7;
    border-width: 2px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    /* margin-bottom:; */
}



.nav-btn:hover {
    opacity: 0.7; 
    transform: scale(1.1);

}
.nav-btn i {
    color: white;
    
}


.center-btn-container {
    position: relative;
    width: 8vw; 
    height: 12vh; 
    top: -30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    /* left: 50%; */
    /* transform: translateX(-50%); */

}

.center-btn {
    background: #fff;
    border-radius: 50%; 
    font-size: 7rem; 
    color: #CE6B31;
    cursor: pointer;
    transition: 0.3s;
    border: 3px solid darkorange;
    width: 70%; 
    height: 70%; 
    display: flex;
    /* margin-right: 5%; */
    justify-content: center;
    align-items: center; 

}

.center-btn:hover {
    background: #ffcccb;
    transform: scale(1.1);

}
.center-btn i {
    color: darkorange;

}


.icon-text {
    font-size: 1vw; 
    margin-top: 1%; 
    color: white;
}


/* Achievement stuff */

.AchievementContainer {
    background-color: #1C1F21;
    margin: 0 auto;
    text-align: center;
    width: 90%; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;

}


#achievementsSection {
    width: 100%;
    height: 75vh; 
    margin: 0 auto;
    overflow-y: scroll; 
    overflow-x: hidden; 
    margin-top: 15vh; 
    position: relative; 
    
}

#achievementsSection::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none; 
}

#achievementsSection:hover::before {
    transform: translateY(-20%);
}


.achievement {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    width: 47.5%;
    height: 30vh;
    background-color: #383F42;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 5%;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(225, 104, 4, 0.842);
    color: white;
    transition: transform 0.3s ease-in-out;
}


.achievement:hover {
    transform: scale(1.05);
}



#achievementsSection{
    width: 100%;
    margin: 0 auto;
    margin-top: 6vh;

}
  

#achievementTitle {
    font-size: 1rem ;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding-bottom: 2%;

}


#medals {
    font-size: 2em;

    color: #CE6B31;
    text-align: center;
  
    padding:5% 0%;
    margin-top: auto;
    /* margin-top: 2.5%;  */

}

#achievementProgressBar {
    height: 2rem;
    width: 80%;
    background: #ddd;
    border-radius: 25px;
    /* overflow: hidden; */
    position: relative;
    margin-top: auto;
    margin-bottom: 5%; 
}

.progress-fill {
    height: 100%;
    /* width: 90%; */
    border-radius: 25px;
    transition: width 1s ease-in-out;
}

.mealAchievement { 
    background: linear-gradient(to right, #FF5733, #CE6B31); 
    box-shadow: 0 0 10px rgba(255, 87, 51, 0.7), 0 0 15px rgba(206, 107, 49, 0.5);
}

.timeAchievement { 
    background: linear-gradient(to right, #FF9A1F, white); 
    box-shadow: 0 0 10px #FF9A1F, 0 0 15px white;
}

.calorieBurnedAchievement { 
    background: linear-gradient(to right, #0059B8, #5CABFF); 
    box-shadow: 0 0 10px #0059B8, 0 0 15px #5CABFF;
}

.calorieTrackedAchievement { 
    background: linear-gradient(to right, #FFC300, #FF5733); 
    box-shadow: 0 0 10px rgba(255, 195, 0, 0.7), 0 0 15px rgba(255, 87, 51, 0.5);
}


#achievementPageTitle {
    font-size: 3rem;
    font-weight: bold;
}



/* /top buttons */
.top-left-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    border: 3px solid orange;
    border-radius: 50%;
    width: 7vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem; 
    cursor: pointer;
    color: orange;
    transition: 0.3s;
     transform: scale(1.02);
}

.top-left-btn i { 
    width: 100%;
    height: 100%;
    font-size: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left-btn:hover {
    opacity: 0.7; 
    transform: scale(1.1);
}

.top-right-btn {
    position: absolute;
    top: 20px;
    right: 20px; 
    background-color: darkorange; 
    border: 3px solid darkorange;
    border-radius: 50%; 
    width: 7vw;
    height: 9vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    cursor: pointer;
    color: white; 
    transition: 0.3s;
}

.top-right-btn:hover {
    opacity: 0.7; 
    transform: scale(1.1);
}
.top-right-btn i { 
    width: 100%;
    height: 100%;
    font-size: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;

}


  
/* Classes */

.box {
    background-color: #383F42;
    border-width: 2px;
    border-color: #EFEDE7;
    border-style: solid;
    box-shadow: 5px 5px #000000;
    backdrop-filter: blur(10px);
}

.iconBox {
    background-color: #B0B0B0;
    border-width: 2px;
    border-color: #EFEDE7;
    border-style: solid;
    border-radius: 8px;
    border-width: 3.5px;
    box-shadow: 5px 5px #000000;
    backdrop-filter: blur(10px);
}

.inputClass {
    margin-top: 15%;
    margin-right: 5%;
    font-size: large;
    padding: 4.5%;
    flex: 1; 
    margin: 0;
    box-sizing: border-box; 
}

.button {
    background-image: linear-gradient(#95180F, 50%, #EA7B3A);   
    border-width: 2px;
    border-color: #EFEDE7;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 5px 5px #000000;
    backdrop-filter: blur(10px);
    font-family: 'Oswald';
    font-weight: bolder;
    font-size: xx-large;
    color: #EFEDE7;
}

.button:hover {

    background-image: linear-gradient(#be1f13, 50%, #ee7736);
}

.button:active {

    background-image: linear-gradient(#7a130c, 50%, #b95b29);
}

.form {
    justify-content: center;
}

.welcomeText {
    color: #EFEDE7;
    font-family: 'Poppins';
    font-size: larger;
    margin-right: 5%;
    margin-left: 5%;
    text-shadow: 2px 2px 4px #000000
}

/* Log In Page Id's */

#hellthTitle {
    font-size: 40px;
    font-weight: bold;
}

#returningUser {
    font-size: xx-large;
}
  
#loginPageSection {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#logInBox {
    width: 35%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6%;
    margin-right: 2%;
    color: #EFEDE7;
}

#signUpBox {
    width: 35%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
    margin-left: 2%;
}
  
#usernameContainer, #passwordContainer {
    display: flex;
    height: 10%;
    margin-bottom: 17.5%;
    align-items: center;
    justify-content: space-between;
}

#usernameIconBox, #passwordIconBox {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-shrink: 0; 
    width: 50px; 
    height: 50px; 
    margin-left: 10px; 
    box-sizing: border-box;
}

#forgottenPassword 
{
    font-family: 'Poppins';
    text-shadow: 2px 2px 4px #000000;
    font-style: italic;
    font-size: small;
}

#logInButton {
    display: flex;
    padding: 3% 20%;
    margin-top: 19%;
    justify-content: center;
    margin-left: 14.75%;
    font-size: 40px;
}

#OR {
    font-size: xx-large;
    font-family: 'Oswald';
    margin: 0 2%;
  }

#eyeIcon {
    margin-top: 1%;
  }

#newUserTitle {
    font-size: 28px;
}

#signUpButton {
    display: flex;
    padding: 2% 10%;
    margin-top: 5%;
    justify-content: center;
    font-size: 36px;
}
/* achievement Page Id's */




.inputdiv{
    backdrop-filter: blur(10px);
    display:flex;
    flex-direction: column;
    padding: 2%;
    width: 60%;
    margin-top: 2%;
}

#firstdiv{
    margin-top: 10%;
}


#mealPageSection {
    margin-top: 5%;
    width: 100%;
    height: 70vh; /* Takes up the full height of the viewport */
    gap: 2.5%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
}

.mainBtn{
    padding:2% 8%;
    border:#D9D9D9;
    border-style: solid;
    border-radius: 8px;
    font-size: 7vh;
    font-family: 'Oswald';
    color:#EFEDE7;
    font-weight: 1000;
    background-image: linear-gradient(#95180F, 50%, #EA7B3A);   
    border-width: 2px;
    box-shadow: 5px 5px #000000;
    backdrop-filter: blur(10px);
}

.foodAddSection {
    height: auto; 
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    margin-right: 5%;
}

.foodAdd {
    width: 100%;
    height: 20vh;
    display: flex;
    background-color: #383F42;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-bottom: 5%;
    margin-bottom: 0;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 20vw;
    height: 10vh;
    margin: 0 auto;
    margin-top: 2%;

}

.search-bar {
    flex-grow: 1; 
    border-radius: 5px 5px;
    outline: none;
    padding: 5%;
    font-size: 0.7rem;
    width:3vw; 
    height: 60%;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
}


.search-bar:focus {
    width: 90%;
    box-shadow: 0px 0px 10px rgba(255, 145, 0, 0.993);
}

.foodList {
    width: 100%;
    height: 15em; 
    overflow-y: auto;
    background-color: #383F42;
    border-radius: 10px;
    /* padding: 5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
    margin-top: 10%;
}

.foodList .item {
    width: 90%;
    min-height: 8vh;
    padding: 2% 3%;
    min-width: 15vw;
    background: #474f53;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    transition: transform 0.3s ease, background 0.3s ease;  
}

.foodList .item:hover {
    transform: scale(1.05);  
    background: #5a6369;  
}

.foodList .item button {
    background: #474f53;
    color: white;
    scale: 1.2;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out, background 0.3s ease;
}

.foodList .item button:hover {
    transform: scale(1.1); 
    background: red;  
}

.foodList .item i {
    transition: transform 0.3s ease; 
}

.foodList .item:hover i {
    transform: rotate(180deg);  
}

.centerSection{
    width: 25%;
    height: 30%;
    display: flex;
    background-color: #383F42;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    border-radius: 25px;
    padding-bottom: 15%;
    /* margin-bottom: 10%; */
    margin-left: 2.5%;
    margin-right: 2.5%;

}
.overviewSection{
    width: 25%;
    height: 30%;
    display: flex;
    background-color: #383F42;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    border-radius: 25px;
    padding-bottom: 15%;
    /* margin-bottom: 10%; */
    margin-left: 5%;
    /* margin-right: 2%; */

}





 /* .search-results {
    width: 100%;
    max-height: 200px; 
    overflow-y: auto; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    position: absolute;
    top: 100%; 
    left: 0;
    z-index: 10;
 } */

/* .search-results .item { 
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9); 
    color: #333; 
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-results .item:hover {
    background-color: rgba(255, 255, 255, 1); 
    transform: scale(1.05); 
}


.search-results .item {
    transition: all 0.3s ease-in-out;
} */

/* .dropdown {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    width: 15%;
    padding: 9.9% 2%;
    border-left: none;
} */

/* .dropdown i {
    font-size: 1.8rem; 
    height: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
     transform: scale(1.1);
} */



#ingredientBtn {
    padding: 1%;
    font-size: 3vh;
    width: 30%;
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mealBtn {
    padding: 1%;
    font-size: 3vh;
    /* width: 12.5%; */
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.mainBtn:hover{
    background: linear-gradient(#be1f13, 50%, #ee7736);
}

.mainBtn:active{
    background: linear-gradient(#7a130c, 50%, #b95b29);
}



.hellthTitle {
    font-size: 40px;
    font-weight: bold;
    
}


.PageSection {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 90%;
    gap: 20; 
    margin: 0 auto; 
}

.mealBottomSection{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center; */
    width: 100%;
    /* max-height: 70vh;  */
    bottom: 20;
}

.greyContainer {
    
    width: 35%;
    height: 35%;
    padding-bottom: 5%;
    /* margin-left: 7.5%; */
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column;
    background-color: #383F42;
    border-width: 1px;
    border-color: #EFEDE7;
    border-style: solid;
    box-shadow: 3px 3px;
    backdrop-filter: blur(10px);
}

.logo{
    height: auto;
    width: 10%;
}

#loginLink{
    color: #EFEDE7;
}


@media (max-width: 1400px) {
    .nav-btn {
        width: 20%; 
        height: 80%;  
        font-size: 2.5rem;
    }

    .nav-btn i {
        font-size: 2.rem;
    }

    .top-left-btn{
        width:8vw;
        height: 9vh;
        /* /* color: #000000;  */
        font-size: 3.1rem;
    }

    .top-right-btn{
        width:8vw;
        height: 9vh;
        /* /* color: #000000;  */
        font-size: 3.1rem;
    }

    .center-btn {
        font-size: 3rem;
    }
    .center-btn-container{
        width: 10vw; 
        height: 12vh; 
        top: -35%;
        margin-left: 1%;


    }
}

@media (max-width: 768px) {
    .nav-btn {
        width: 20%; 
        height: 80%;  
        font-size: 2.2rem;
        /* /* background-color: #000000;  */
    }

    .achievement {
        width: 90%; 
        margin: 0 auto;
        margin-bottom: 7.5%;
    }

    #medals {
        padding: 0 0;
    }

    .nav-btn i {
        font-size: 2.3rem;
    }
    

    .center-btn {
        font-size: 1.3rem;
    }
    .center-btn-container{

        width: 10vw; 
        height: 12vh; 
        top: -35%;

    }

    .top-left-btn{
        width:11vw;
        height: 10vh;
        /* /* color: #000000;  */
        font-size: 2.1rem;
    }

    .top-right-btn{
        width:11vw;
        height: 10vh;
        /* /* color: #000000;  */
        font-size: 2.1rem;
    }

} 




@media (max-width: 450px) {
    
    #achievementPageTitle{
        font-size: 2.5rem;
    }

    .nav-btn {
        width: 24%; 
        height: 90%;  
        font-size: 2.3rem;
    }
    
    .achievement {
        width: 90%; 
        margin: 0 auto;
        margin-bottom: 10%;
    }

    #medals {
        padding: 0 0;
    }
    

    .icon-text {
        display: none;
    }
    .nav-btn i {
        font-size: 2.8rem;
        
    }

    .center-btn {
        font-size: 2rem;
    }
    .center-btn-container{
        width: 14vw; 
        height: 10vh; 
        top: -35%;

    }

    .top-left-btn{
        width:13vw;
        height: 8vh;
        /* /* color: #000000;  */
        font-size: 2rem;
    }

    .top-right-btn{
        width:13vw;
        height: 8vh;
        /* /* color: #000000;  */
        font-size: 2rem;
    }
} 


  