/* Generics */

body {
    background-color: #1C1F21;
    text-align: center;
}
  
h1 {
    color: #EFEDE7;
    font-size: xx-large;
    font-family: 'Oswald';
    text-shadow: 2px 2px 4px #000000;
}
summary{
    text-align: left;
    font-size: larger;
    color: #EFEDE7;
    font-family: 'Poppins';
    text-shadow: 2px 2px 4px #000000;
}
p {
    text-align: left;
    font-size: large;
    color: #EFEDE7;
    font-family: 'Poppins';
    text-shadow: 2px 2px 4px #000000;

}
  
input {
    background-color: #EFEDE7;
    border-width: 3px;
    border-color: #B0B0B0;
    border-style: solid;
    font-family: 'Poppins';
    box-shadow: 5px 5px;
    backdrop-filter: blur(10px);
}
select {
    background-color: #EFEDE7;
    border-width: 3px;
    border-color: #B0B0B0;
    border-style: solid;
    font-family: 'Poppins';
    font-size: 'medium';
    box-shadow: 5px 5px;
    backdrop-filter: blur(10px);
}
  
/* Classes */

.box {
    background-color: #383F42;
    border-width: 2px;
    border-color: #EFEDE7;
    border-style: solid;
    box-shadow: 5px 5px;
    backdrop-filter: blur(10px);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 12px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6px;
    padding-bottom: 6px;
}

.iconBox {
    background-color: #B0B0B0;
    border-width: 2px;
    border-color: #EFEDE7;
    border-style: solid;
    box-shadow: 5px 5px;
    backdrop-filter: blur(10px);
}

#faqTitle {
    margin-bottom: 2%;
}

#boxEnd {
    margin-bottom: 25vh;
}
  
/* Navbar stuff */
.navbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;  
    height: 10vh;
    display: flex;
    justify-content: space-around;  
    align-items: center;          
    border-width: 2px;
    border-radius: 40px;
    border-style: solid;
    background-image: linear-gradient(180deg, #95180F, #CE6B31 90%);
    padding: 0;
    text-align: center;
    color: white;
    font-size: 4vw;
    max-width: 100%;
    min-width: 320px;
}

.nav-btn {
    background: transparent;
    border: none;
    width: 12%;
    height: 70%;
    font-size: 3rem;  
    font-weight: bold;
    max-width: fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center; 
    border-radius: 30px;
    border-color: #EFEDE7;
    border-width: 2px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    /* margin-bottom:; */
}



.nav-btn:hover {
    opacity: 0.7; 
    transform: scale(1.1);

}
.nav-btn i {
    color: white;
    
}

.center-btn-container {
    position: relative;
    width: 8vw; 
    height: 12vh; 
    /* top: -30%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    /* left: 50%; */
    /* transform: translateX(-50%); */

}

.center-btn {
    background: #fff;
    border-radius: 50%; 
    font-size: 7rem; 
    color: #CE6B31;
    cursor: pointer;
    transition: 0.3s;
    border: 3px solid darkorange;
    width: 70%; 
    height: 70%; 
    display: flex;
    /* margin-right: 5%; */
    justify-content: center;
    align-items: center; 

}

.center-btn:hover {
    background: #ffcccb;
    transform: scale(1.1);

}
.center-btn i {
    color: darkorange;

}


.icon-text {
    font-size: 1vw; 
    margin-top: 1%; 
    color: white;
}