h3 {
    color: #EFEDE7;
    font-family: 'Oswald';
}

.graph {
    background-color: #383F42;
    border-width: 2px;
    border-style: solid;
    height: 50%;
    /* backdrop-filter: blur(10px); */
    border-radius: 20px;
    margin-bottom: 3%;
    text-align: center;
    /* padding-right:; */
    color: white;
}

.buttons {
    margin-top: 1%;
    display: flex;
    gap: 20%;
    justify-content: center;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0.5%;
    margin-bottom: 1%;
    padding: 15px 30px;
    background-color: #FF5733;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: #EFEDE7;
    outline: 2px solid #EFEDE7;
}

.btn:hover {
    background-color: #95180F;
    box-shadow: 0 0 15px 5px rgba(255, 87, 51, 0.7);
}

.btn:active {
    background-color: #CE6B31;
}

.feedbackContainer{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.contact-box{
    background-color: #B0B0B0;
    border: 1px solid #95180F;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 87, 51, 0.7);
    padding: 20px;
    width: 100%;
}

.header{
    background-color: #CE6B31;
    padding: 10px;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 20px;
}

.header:hover{
    background-color: #FF5733;
}

.dropdown{
    display: none;
    padding-top: 10px;
    margin-top: 10px;
}

.dropdown.active{
    display: block;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    margin: 10px 0;
    padding: 10px;
    background-color: #CE6B31;
    border-radius: 5px;
    border: #000000;
    border-width: 2px;
    border-style: solid;
}

input[type="radio"]{
    margin-right: 10px;
}

.input{
    margin: 5%;
    width: 90%;
    height: 15vw;
    text-align: left;
}

.progress-image {
    width: 35%;
    height: auto;
    margin-bottom: 20px; /* Adds space between the image and the buttons */
}

.view-buttons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Adds space between buttons */
}

.view-btn:hover {
    background-color: #CE6B31;
}

/* Page Id's */
#hellthTitle {
    font-size: 7vh;
    font-weight: bold;
}

#medals {
    font-size: 4vh;
    font-weight: normal;
    /* padding: 10, 0%; */
    color: #CE6B31;
    text-align: center;

}

#changeText {
    color: #B0B0B0;
    font-size: 2vh;
}
#adjustText {
    color: #EFEDE7;
    font-size: 1.5vh;
}

#thankYouMSG{
    color: #EFEDE7;
    font-size: 5vh;

}

#changeTargets {
    color: #EFEDE7;
    font-size: 3vh;
}

#emailImage{
    height: auto;
    width: 25%;
}

/* Generics */

body {
    background-color: #1C1F21;
    text-align: center;
}
  
h1 {
    color: #EFEDE7;
    font-family: 'Oswald';
    text-shadow: 2px 2px 4px #000000;
}
  
h2 {
    color: #EFEDE7;
    font-family: 'Poppins';
    text-shadow: 2px 2px 4px #000000;
}
  
input {
    background-color: #EFEDE7;
    border-width: 4px;
    border-radius: 15px;
    border-color: #B0B0B0;
    border-style: solid;
    font-family: 'Poppins';
    box-shadow: 5px 5px;
    backdrop-filter: blur(10px);
}

a:visited {
    color: #EFEDE7;
}
  
/* Classes */

.box {
    background-color: #383F42;
    border-width: 2px;
    border-color: #EFEDE7;
    border-style: solid;
    box-shadow: 5px 5px #000000;

/* Ensures the cliping of the orange border does not apply to the whole site itself instead of just the box
This works by manually forcing a seperate layer to render to.*/
    transform: translateZ(0);
}


@property --fill {

    syntax: '<percentage>';
    inherits: true;
    initial-value: 0%;
}

@keyframes pop {
    
    from 
    {
        transform: scale(1);
        box-shadow: 5px 5px #000000;
    }
    to
    {
        transform: scale(1.05);
        box-shadow: 15px 15px #000000;
    }
    
}

.box::before, .box::after {
    position: absolute;
    z-index: -1;
    content: '';
    inset: -6px;
    border-radius: inherit;
    background:
        conic-gradient(
            #EA7B3A var(--fill),
            transparent var(--fill)
        );
    transition: --fill 1s 30ms ease-in-out;
    
   
/* Used to create the masked border effect and ensures that it only applies to the border rather than the whole box*/
    mask: linear-gradient(#000 0 0) content-box, 
                   linear-gradient(#000 0 0);
    mask-composite: exclude;

    padding: 7px;
    
}

.box:hover {
    color: #EA7B3A;
    outline: 1px solid transparent;
    --fill: 100%;
    animation-name: pop;
    animation-duration: 1s;

    /* to keep box in final state of animation when hovering*/
    animation-fill-mode: forwards;
}

.iconBox {
    background-color: #B0B0B0;
    border-width: 2px;
    border-color: #EFEDE7;
    border-style: solid;
    border-radius: 8px;
    border-width: 3.5px;
    box-shadow: 5px 5px #000000;
    backdrop-filter: blur(10px);
}

.inputClass {
    margin-top: 15%;
    margin-right: 5%;
    font-size: large;
    padding: 4.5%;
    flex: 1; 
    margin: 0;
    box-sizing: border-box; 
}

.button {
    background-image: linear-gradient(#95180F, 50%, #EA7B3A);   
    border-width: 2px;
    border-color: #EFEDE7;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 5px 5px #000000;
    backdrop-filter: blur(10px);
    font-family: 'Oswald';
    font-weight: bolder;
    font-size: xx-large;
    color: #EFEDE7;
}

.button:hover {
    background-image: linear-gradient(#be1f13, 50%, #ee7736);
}

.button:active {

    background-image: linear-gradient(#7a130c, 50%, #b95b29);
}

.form {
    justify-content: center;
}

.welcomeText {
    color: #EFEDE7;
    font-family: 'Poppins';
    font-size: larger;
    margin-right: 5%;
    margin-left: 5%;
    text-shadow: 2px 2px 4px #000000
}

/* Log In Page Id's */

#hellthTitle {
    font-size: 40px;
    font-weight: bold;
}

#returningUser {
    font-size: xx-large;
}
  
#loginPageSection {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#logInBox {
    width: 35%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6%;
    margin-right: 2%;
    color: #EFEDE7;
}

#signUpBox {
    width: 35%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
    margin-left: 2%;
}
  
#usernameContainer, #passwordContainer {
    display: flex;
    height: 10%;
    margin-bottom: 17.5%;
    align-items: center;
    justify-content: space-between;
}

#usernameIconBox, #passwordIconBox {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-shrink: 0; 
    width: 50px; 
    height: 50px; 
    margin-left: 10px; 
    box-sizing: border-box;
}


#forgottenPassword 
{
    font-family: 'Poppins';
    text-shadow: 2px 2px 4px #000000;
    font-style: italic;
    font-size: small;
    color: #EFEDE7;
}

#logInButton {
    display: flex;
    padding: 3% 20%;
    margin-top: 19%;
    justify-content: center;
    margin-left: 14.75%;
    font-size: 40px;
}

#OR {
    font-size: xx-large;
    font-family: 'Oswald';
    margin: 0 2%;
  }


#eyeIcon {
    margin-top: 1%;
  }

#newUserTitle {
    font-size: 28px;
}

#signUpButton {
    display: flex;
    padding: 2% 10%;
    margin-top: 5%;
    justify-content: center;
    font-size: 36px;
}

#signIn {
    text-decoration: none;
}