<!DOCTYPE html>

<head>
    <title>Hellth</title>
    <link rel="icon" href="images/Logo.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styles.css">
    <script type = "module" src="profileView.js" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>


<body>
    <header class="top-header">
        <a href="#" class="top-left-btn" id="messageBtn">
            <img src="images/envelope-solid.svg" alt="profileIcon">
        </a>

        <h1 id="hellthTitle">Contact Us</h1>

        <a href="profile.html" class="top-right-btn">
            <img src="images/user-solid.svg" alt="profileIcon">
        </a>
    </header>
        <h1 id="hellthTitle">Help</h1>
            <div class="graph">
                <div id="thankYouMSG">Got a burning question?</div>
                <div id="adjustText">One of our admins will be happy to help you!</div>
                <a href="FAQ.html" style="color: #FF5733; text-decoration: underline;">Before sending a query, please check our FAQ page</a>
                <form id="contactForm" action="/submitContact" method="post">
                    <div class="feedbackContainer">
                        <div class="contact-box">
                            <div class="header" onclick="toggleDropdown()">
                                <h3>Reason for Contact</h3>
                            </div>
                            <div class="dropdown" id="dropdown">
                                <ul>
                                    <li><input type="radio" name="reason" value="Issue with site" id="r1"> Issue with site</li>
                                    <li><input type="radio" name="reason" value="General inquiry" id="r2"> General Inquiry</li>
                                    <li><input type="radio" name="reason" value="Feedback" id="r3"> Feedback</li>
                                    <li><input type="radio" name="reason" value="Technical Support" id="r4"> Technical Support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="submissionBox">
                        <input type="text" name="feedbackInput" class="input" placeholder="Type your query here">
                    </div>
                    <button class="btn" type="submit">
                        Submit
                    </button>
                </form>
            </div>
        </section>
    </main>
    <div class="navbar">
        <a href="home.html" class="nav-btn">

            <img src="images/house-solid.svg" alt="Home">
            <span class="icon-text">Home</span>
        </a>
        
        <a href="progress.html" class="nav-btn">
            <img src="images/chart-line-solid.svg" alt="Progress">
            <span class="icon-text">Progress</span>
        </a>
    
        <div class="center-btn-container">
            <a href="mealActivtiySelect.html" class="center-btn">
                <img src="images/plus-solid.svg" alt="Add">
            </a>
        </div>
    
        <a href="groups.html" class="nav-btn">
            <img src="images/user-group-solid.svg" alt="Groups">
            <span class="icon-text">Groups</span>
        </a>
    
        <a href="contact.html" class="nav-btn">
            <img src="images/person-circle-question-solid.svg" alt="Help">
            <span class="icon-text">Help</span>
        </a>
    </div>
    
    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById("dropdown");
            dropdown.classList.toggle("active");
        }
    </script>
    <script>
        document.getElementById("contactForm").addEventListener("submit", function (event) {
            var reason = document.querySelector('input[name="reason"]:checked');
            if (!reason) {
                alert("Please select a request type");
                event.preventDefault();
            }
        });
    </script>
</body>