<!DOCTYPE html>
<head>
<title>Hellth</title>
<link rel="icon" href="Logo.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type = "module" src="profileView.js" defer></script>

<link rel="stylesheet" href="/css/styles.css">
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <header class="top-header">
        <a href="#" class="top-left-btn" id="messageBtn">
            <img src="images/envelope-solid.svg" alt="profileIcon">
        </a>

        <h1 id="hellthTitle">Profile</h1>

        <a href="profile.html" class="top-right-btn">
            <img src="images/user-solid.svg" alt="profileIcon">
        </a>
    </header>

    <main>
        <section  class = "profileSection">
            <div class = "mainDiv">
                <article class = "mainArticle">
                    <div class = "smallArticleTitleContainer">
                        <h2 class = "otherTitles">Name</h2>
                    </div>
                    <div class = mainArticleStats>
                        <p class = "mainArticleStat1">Created on <br></p>
                        <p class = "mainArticleStat2">Points Earned <br> Total</p>
                        <p class = "mainArticleStat3">Last Logged In <br></p>
                    </div>
                </article>
            </div>


            
            <div class = "statsdiv">
                <div class = "mainArticleTitleContainer">
                <h2 class = "otherTitles">Your Stats</h2>
            </div>
                <article class = "statsArticle">
                    <div class = "mainstatsSection">
                    <p >Weigth <br></p>
                    <p >Height<br></p>
                    <p >Gender<br></p>
                    <p >Target Caloires <br></p>
                </div>

                </article>
                <article class = "statsArticle2">
                <div class = "secondarystatsSection">
                    <p >Goals Completed <br> 7</p>
                    <p >Achievements Completed <br> 8</p>
                </article>
            </div>

            <div class = "settingsDiv">
                <div class = "smallArticleTitleContainer">
                <h2 class = "otherTitles">Settings</h2>
                </div>
                <article class="settingsArticle">
                    <button class="metricButton" id="weightMetric">Metric</button>
                    <span>/</span>
                    <button class="metricButton" id="imperialMetric">Imperial</button>
                </article>
            </div>
            
            
            <div class = "achievementsDiv">
                <article class = "achievementSection">
                    <a href = "Achievements.html">
                        <div class = "mainArticleTitleContainer">
                            <h2 class = "otherTitles">Achievements</h2>
                        </div>
                        <div class = 'achievementsMainImgs' >
                            <div class="achievementItem">
                                <img src="images/Activity1.png" alt="Activity">
                                <p>Activity</p>
                            </div>
                            <div class="achievementItem">
                                <img src="images/Time1.png" alt="Time">
                                <p>Time</p>
                            </div>
                            <div class="achievementItem">
                                <img src="images/Calories1.png" alt="Calories">
                                <p>Calories</p>
                            </div>
                            <div class="achievementItem">
                                <img src="images/Unit1.png" alt="Unit">
                                <p>Unit</p>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
            

        </section>

        <div class="popup-overlay" id="mailboxOverlay">
            <div class="mailboxHeader">
                <h2 class = 'mailboxTitle'>Inbox</h2>
            </div>
            <div id="mailboxContainer" class="popup">
                <div class="mailboxList">
                    <div class="mailboxItem">
                        <div class = "textContent">
                            <div class="mailSender">Hellth</div>
                            <div class="mailSubject">New Meal Logged</div>
                            <div class="mailDate">31/02/2025</div>
                        </div>
                        <div class = "imageContent">
                            <img src = "images/user-group-solid.svg" alt = "Text">
                        </div>
                    </div>
                    <div class="mailboxItem">
                        <div class = "textContent">
                            <div class="mailSender">Hellth</div>
                            <div class="mailSubject">New Meal Logged</div>
                            <div class="mailDate">31/02/2025</div>
                        </div>
                        <div class = "imageContent">
                            <img src = "images/user-group-solid.svg" alt = "Text">
                        </div>
                    </div>
                    <div class="mailboxItem">
                        <div class = "textContent">
                            <div class="mailSender">Hellth</div>
                            <div class="mailSubject">New Meal Logged</div>
                            <div class="mailDate">31/02/2025</div>
                        </div>
                        <div class = "imageContent">
                            <img src = "images/user-group-solid.svg" alt = "Text">
                        </div>
                    </div>
                    <div class="mailboxItem">
                        <div class = "textContent">
                            <div class="mailSender">Hellth</div>
                            <div class="mailSubject">New Meal Logged</div>
                            <div class="mailDate">31/02/2025</div>
                        </div>
                        <div class = "imageContent">
                            <img src = "images/user-group-solid.svg" alt = "Text">
                        </div>
                    </div>
                    <div class="mailboxItem">
                        <div class = "textContent">
                            <div class="mailSender">Hellth</div>
                            <div class="mailSubject">New Meal Logged</div>
                            <div class="mailDate">31/02/2025</div>
                        </div>
                        <div class = "imageContent">
                            <img src = "images/user-group-solid.svg" alt = "Text">
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>
     

    <div class="navbar">
        <a href="home.html" class="nav-btn">
            <img src="images/house-solid.svg" alt="Home">
            <span class="icon-text">Home</span>
        </a>
        
        <a href="progress.html" class="nav-btn">
            <img src="images/chart-line-solid.svg" alt="Progress">
            <span class="icon-text">Progress</span>
        </a>
    
        <div class="center-btn-container">
            <a href="mealActivtiySelect.html" class="center-btn">
                <img src="images/plus-solid.svg" alt="Add">
            </a>
        </div>
    
        <a href="groups.html" class="nav-btn">
            <img src="images/user-group-solid.svg" alt="Groups">
            <span class="icon-text">Groups</span>
        </a>
    
        <a href="help.html" class="nav-btn">
            <img src="images/person-circle-question-solid.svg" alt="Help">
            <span class="icon-text">Help</span>
        </a>
    </div>
    <div id="quantity-alert"></div>
    
</body>
